<link rel="stylesheet" href="{{ asset('css/navbar/style.css') }}">
<div class="sidebar close opacity-100">
    <div class="logo-details">
        <img class="ml-3 project-logo" src="{{ asset('img/maxime.jpg') }}" alt="Mbiya Kiaku Maxime">
        <span class="ml-2 logo_name">Mbiya Kiaku Maxime</span>
    </div>
    <ul class="nav-links">
        <li>
            <div class="icon-link">
                <a href="{{ path('blog_list') }}">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Blogs</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li>
                    <a href="{{ path('blog_new') }}">Créer un post</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{path('admin_new_category')}}">
                {% else %}
                    <a href="#">
                {% endif %}
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Categorie</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                {{ render(controller('App\\Controller\\CategoryController::list')) }}
            </ul>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('user_profile', {id: app.user.id}) }}">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Mon profil</span>
                </a>
            </li>
        {% endif %}
        <li>
            <div class="profile-details">
                {% if app.user == null %}
                    <a class="ml-4" href="{{ path('app_login') }}">
                        Login <i class='bx bx-log-in text-left'></i>
                    </a>
                    <a class="ml-4" href="{{ path('app_register') }}">
                        Sign up <i class='bx bx-door-open text-left'></i>
                    </a>
                {% else %}
                    <div class="profile-content">
                        {% if app.user.logo == null %}
                            <img src="{{ asset('img/profil/01.png') }}" alt="profil" />
                        {% else %}
                            <img src="{{app.user.logo}}" alt="profil" />
                        {% endif %}
                    </div>
                    <div class="name-job">
                        <div class="profile_name">{{app.user.username}}</div>
                    </div>
                    <a href="{{ path('app_logout') }}">
                        <i class='bx bx-log-out'></i>
                    </a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
