{% extends 'base.html.twig' %}

{% block title %}Blog Detail{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/post/style.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8 tm-post-col">
            <div>
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                    <p class="tm-mb-40">{{post.createdAt|date('M d, Y', 'Europe/Paris')}} posted by {{post.author.username}}</p>
                    <p>{{post.content|nl2br}}</p>
                    <span class="d-block text-right tm-color-primary">
                        {% for categoryIndex, c in post.categories %}
                            {% if categoryIndex < post.categories|length - 1 %}
                                {{c.title}} .
                            {% else %}
                                {{c.title}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div>
                    <h2 class="tm-color-primary tm-post-title">Comments</h2>
                    <hr class="tm-hr-primary tm-mb-45">
                    {% for comment in post.comments %}
                        {% if comment.published %}
                        {# <pre>
                            {{ dump(comment) }}
                        </pre> #}
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure col-3">
                                    {% if comment.author.logo == null %}
                                        <img src="{{ asset('img/profil/01.png') }}" alt="Image" class="mb-2 rounded-circle img-profile d-block ml-auto mr-auto">
                                    {% else %}
                                        <img src="{{comment.author.logo}}" alt="Image" class="mb-2 rounded-circle img-profile d-block ml-auto mr-auto">
                                    {% endif %}
                                    <figcaption class="tm-color-primary text-center">{{comment.author.username}}</figcaption>
                                    <span class="d-block text-center">{{comment.createdAt|date('d/m/y à H:s', 'Europe/Paris')}}</span>
                                </figure>
                                <div class="w-100">
                                    <p>{{comment.content|nl2br}}</p>
                                    {% if comment.createdAt == comment.updatedAt %}
                                        <span class="d-block text-right tm-color-primary">Édité le {{comment.updatedAt|date('d/m/y à H:s', 'Europe/Paris')}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                        {% endif %}
                    {% endfor %}

                    <div class="mb-5 tm-comment-form ml-auto mr-auto">
                        {{ form_start(commmentForm) }}
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">
                                    {{ form_row(commmentForm.title) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(commmentForm.content) }}
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Submit</button>
                                </div>
                        {{ form_end(commmentForm) }}
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-lg-4 tm-aside-col">
            <div class="tm-post-sidebar">
                <hr class="mb-3 tm-hr-primary">
                <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                <ul class="tm-mb-75 pl-5 tm-category-list">
                    <li><a href="#" class="tm-color-primary">Visual Designs</a></li>
                    <li><a href="#" class="tm-color-primary">Travel Events</a></li>
                    <li><a href="#" class="tm-color-primary">Web Development</a></li>
                    <li><a href="#" class="tm-color-primary">Video and Audio</a></li>
                    <li><a href="#" class="tm-color-primary">Etiam auctor ac arcu</a></li>
                    <li><a href="#" class="tm-color-primary">Sed im justo diam</a></li>
                </ul>
                <hr class="mb-3 tm-hr-primary">
                <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                <a href="#" class="d-block tm-mb-40">
                    <figure>
                        <img src="img/img-02.jpg" alt="Image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">Duis mollis diam nec ex viverra scelerisque a sit</figcaption>
                    </figure>
                </a>
                <a href="#" class="d-block tm-mb-40">
                    <figure>
                        <img src="img/img-05.jpg" alt="Image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">Integer quis lectus eget justo ullamcorper ullamcorper</figcaption>
                    </figure>
                </a>
                <a href="#" class="d-block tm-mb-40">
                    <figure>
                        <img src="img/img-06.jpg" alt="Image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">Nam lobortis nunc sed faucibus commodo</figcaption>
                    </figure>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}
