{% extends 'base.html.twig' %}

{% block title %}Blog Detail{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/post/style.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8 tm-post-col">
            <div>
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                    <p class="tm-mb-40">{{post.createdAt|date('M d, Y', 'Europe/Paris')}} posted by {{post.author.username}}</p>
                    <p>{{post.content|nl2br}}</p>
                    <span class="d-block text-right tm-color-primary">
                        {% for categoryIndex, c in post.categories %}
                            {% if categoryIndex < post.categories|length - 1 %}
                                {{c.title}} .
                            {% else %}
                                {{c.title}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div>
                    <h2 class="tm-color-primary tm-post-title">Comments ({{comments|length}})</h2>
                    <hr class="tm-hr-primary tm-mb-45">
                    {% for comment in comments %}
                        <div class="comment-container" data-id="{{comment.id}}">
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure col-3">
                                    {% if comment.author.logo == null %}
                                        <img src="{{ asset('img/profil/01.png') }}" alt="Image" class="mb-2 rounded-circle img-profile d-block ml-auto mr-auto">
                                    {% else %}
                                        <img src="{{comment.author.logo}}" alt="Image" class="mb-2 rounded-circle img-profile d-block ml-auto mr-auto">
                                    {% endif %}
                                    <figcaption class="tm-color-primary text-center">{{comment.author.username}}</figcaption>
                                    <span class="d-block text-center">{{comment.createdAt|date('d/m/y à H:m', 'Europe/Paris')}}</span>
                                    <div class="d-flex justify-content-around bd-highlight">
                                        <a href="{{ path('comment_edit', {id: comment.id}) }}">Éditer</a>
                                        <span class="pointer text-danger commentRemove" data-key="{{comment.id}}">Supprimer</span>
                                    </div>
                                </figure>
                                <div class="w-100">
                                    <p>{{comment.content|nl2br}}</p>
                                    {% if comment.createdAt != comment.updatedAt %}
                                        <span class="d-block text-right tm-color-primary">Édité le {{comment.updatedAt|date('d/m/y à H:s', 'Europe/Paris')}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                        </div>
                    {% endfor %}

                    {{ knp_pagination_render(comments, 'pagination.html.twig') }}

                    <div class="mb-5 tm-comment-form ml-auto mr-auto">
                        {{ form_start(commmentForm) }}
                                <h2 class="tm-color-primary tm-post-title mb-4">Créez votre commentaire</h2>
                                <div class="mb-4">
                                    {{ form_row(commmentForm.content) }}
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Submit</button>
                                </div>
                        {{ form_end(commmentForm) }}
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-lg-4 tm-aside-col">
            <div class="tm-post-sidebar">
                <hr class="mb-3 tm-hr-primary">
                <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                <ul class="tm-mb-75 pl-5 tm-category-list">
                    {% for category in post.categories %}
                        <li>
                            <a href="#" class="tm-color-primary">{{category.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="mb-3 tm-hr-primary">
                <h2 class="tm-mb-40 tm-post-title tm-color-primary">Derniers Blogs</h2>
                {% for lastpost in lastposts %}
                    <a href="{{ path('blog_detail', {id: lastpost.id}) }}" class="d-block tm-mb-40">
                        <figure>
                            <img src="{{lastpost.image}}" alt="Image" class="mb-3 img-detail">
                            <figcaption class="tm-color-primary">{{lastpost.title}}</figcaption>
                        </figure>
                    </a>
                {% endfor %}
            </div>
        </aside>
    </div>
    {% include 'comment/modalRemoveComment.html.twig' %}
    <script type="text/javascript">
        $('.commentRemove').click(function () {
            const key = $(this).attr('data-key');
            $('#removeComentModal').attr('data-key', key);
            $('#removeComentModal').modal();
        });

        $('#remove-comment_submit').click(function () {
            const key = $('#removeComentModal').attr('data-key');
            let url = "{{ path('comment_api_edit', {'id': '__ID__'}) }}";
            url = url.replace("__ID__", key);
            $.ajax({
                type: 'POST',
                url: url,
                data: {},
                success: function () {
                    $(`.comment-container[data-id="${key}"]`).remove();
                    $('#removeComentModal').modal('hide');
                }
            });
        });
    </script>
{% endblock %}
