{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-12">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row bg-black h-200px">
                            <div class="ms-4 mt-5 d-flex flex-column w-150px h-220px">
                                {% if app.user and app.user.logo == null %}
                                    <img src="{{ asset('img/profil/01.png') }}" alt="image logo"
                                        class="img-fluid img-thumbnail mt-4 mb-2 w-150px z-index-1 h-200px"
                                    >
                                {% else %}
                                    <img src="{{user.logo}}" alt="image logo"
                                        class="img-fluid img-thumbnail mt-4 mb-2 w-150px z-index-1 h-200px"
                                    >
                                {% endif %}
                                {% if app.user %}
                                    <a class="btn btn-outline-dark z-index-1" href="{{ path('user_edit', {id: user.id}) }}">
                                        Éditer profil
                                    </a>
                                {% endif %}
                            </div>
                            <div class="ms-3 mt-130px">
                                <h5>{{user.username}}</h5>
                                {% if app.user and app.user.id == user.id %}
                                    <p>{{user.firstname}} {{user.lastname}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="p-4 text-black bg-grey-very-light">
                            <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{user.posts|length}}</p>
                                <p class="small text-muted mb-0">Blogs</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">{{user.comments|length}}</p>
                                <p class="small text-muted mb-0">Commentaires</p>
                            </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">À propos de {{user.username}}</p>
                                <div class="p-4 bg-grey-very-light">
                                    <p class="font-italic mb-1">
                                        {% if user.description == null %}
                                            Pas de description
                                        {% else %}
                                            {{user.description}}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Derniers blogs de {{user.username}}</p>
                            </div>

                            {% for post in posts %}
                                <div class="card mb-5 rounded-15">
                                    <div class="card-body p-4">
                                        <h3 class="mb-3">{{post.title}}</h3>
                                        <p class="small mb-0">
                                            {{post.comments|length}} commentaire(s)
                                            <span class="mx-2">|</span> Crée le {{post.createdAt|date('d/m/y à H:m', 'Europe/Paris')}}
                                            <span class="mx-2">|</span> Modifé le {{post.updatedAt|date('d/m/y à H:m', 'Europe/Paris')}}
                                        </p>
                                        <hr class="my-4">
                                        <div class="">
                                            <p class="mb-0 text-uppercase">
                                                {{post.content|slice(0, 50)}}
                                                {% if post.content|length > 50 %}...{% endif %}
                                            </p>
                                            <a href="{{ path('blog_detail', {id: post.id}) }}">Lire la suite... ></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {{ knp_pagination_render(posts, 'pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
